@model Wallet.Shared.Contract.ViewModels.TransactionTypeVm.TransactionTypeVm
<form id="CreateTransactionType" class="w-100">
    <!-- ردیف شامل دو فیلد -->
    <div class="row mx-2">
        <div class="col-md-6">
            <label for="Name" class="m-2">نوع تراکنش</label>
            <input type="text"
                   class="form-control shadow rounded-2 text-right"
                   asp-for="Name"
                   style="color: #000; background-color: #fff;"
                   placeholder="نام را وارد کنید">
        </div>
        <div class="col-md-6">
            <label for="Descr" class="m-2">تاریخ</label>
            <input type="text"
                   asp-for="SaveDate"
                   class="form-control shadow rounded-2 text-right"
                   style="color: #000; background-color: #fff;"
                   placeholder="تاریخ را وارد کنید">
        </div>
    </div>

    <!-- ردیف دکمه‌ها -->
    <div class="row mt-3">
        <div class="col-12 text-center d-flex justify-content-center gap-2">
            <!-- دکمه ذخیره -->
            <button type="button" onclick="AddTransactionType()" class="btn btn-success px-5 py-2 shadow">
                <i class="bi bi-check-lg"></i> ذخیره اطلاعات
            </button>
            <!-- دکمه انصراف -->
            <button type="button" onclick="forceCloseModal('my_md_modal')" class="btn btn-secondary px-5 py-2 shadow">
                انصراف
            </button>
        </div>
    </div>
</form>

<script>
    function AddTransactionType() {
        var formData = $('#CreateTransactionType').serialize();
        // اعتبارسنجی ساده
        if (!$('#Name').val()) {
            Swal.fire('هشدار', 'لطفاً نام کیف پول را وارد کنید.', 'warning');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/TransactionType/Create",
            data: formData,
            success: function (response) {
                Swal.fire({
                    title: 'موفق!',
                    text: response.Message || "عملیات با موفقیت انجام شد",
                    icon: 'success',
                    confirmButtonText: 'تایید'
                }).then(function () {
                    // استفاده از تابع forceCloseModal
                    forceCloseModal('my_md_modal');
                    // رفرش صفحه
                    window.location.href = "/TransactionType/Index";
                });
            },
            error: function () {
                Swal.fire('خطا!', 'سرویس مورد نظر در دسترس نمی‌باشد', 'error');
            }
        });
    }
</script>