# .NET / Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.vsidx
*.sln.docstates
*.sqlite
*.sqlite-journal
*.csproj.user
*.rptproj.rsuser
*.dbmdl
*.jfm
*.pfx
*.publishproj
*.pubxml
*.publishsettings
node_modules/
*.log
*.tmp
*.bak
*.swp
Thumbs.db
Desktop.ini
# Build output folders (case-insensitive)
**/bin/
**/obj/
**/Debug/
**/Release/
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
# NuGet packages
packages/
/.vs/ProjectEvaluation/wallet.metadata.v9.bin
/.vs/ProjectEvaluation/wallet.projects.v9.bin
/.vs/ProjectEvaluation/wallet.strings.v9.bin
/Wallet.Api/obj/Debug/net9.0/rpswa.dswa.cache.json
/Wallet.Api/obj/Debug/net9.0/Wallet.Api.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Api/obj/project.assets.json
/Wallet.Api/obj/project.nuget.cache
/Wallet.Api/obj/Wallet.Api.csproj.nuget.dgspec.json
/Wallet.Api/obj/Wallet.Api.csproj.nuget.g.props
/Wallet.Api.Application/obj/Debug/net9.0/Wallet.Api.Application.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Api.Application/obj/project.assets.json
/Wallet.Api.Application/obj/project.nuget.cache
/Wallet.Api.Application/obj/Wallet.Api.Application.csproj.nuget.dgspec.json
/Wallet.Api.Application/obj/Wallet.Api.Application.csproj.nuget.g.props
/Wallet.Api.Domain/obj/Debug/net9.0/Wallet.Api.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Api.Domain/obj/project.assets.json
/Wallet.Api.Domain/obj/project.nuget.cache
/Wallet.Api.Domain/obj/Wallet.Api.Domain.csproj.nuget.dgspec.json
/Wallet.Api.Domain/obj/Wallet.Api.Domain.csproj.nuget.g.props
/Wallet.Api.Infrastructure/obj/Debug/net9.0/Wallet.Api.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Api.Infrastructure/obj/project.assets.json
/Wallet.Api.Infrastructure/obj/project.nuget.cache
/Wallet.Api.Infrastructure/obj/Wallet.Api.Infrastructure.csproj.nuget.dgspec.json
/Wallet.Api.Infrastructure/obj/Wallet.Api.Infrastructure.csproj.nuget.g.props
/Wallet.Presentation/obj/Debug/net9.0/rpswa.dswa.cache.json
/Wallet.Presentation/obj/Debug/net9.0/Wallet.Presentation.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Presentation/obj/project.assets.json
/Wallet.Presentation/obj/project.nuget.cache
/Wallet.Presentation/obj/Wallet.Presentation.csproj.nuget.dgspec.json
/Wallet.Presentation/obj/Wallet.Presentation.csproj.nuget.g.props
/Wallet.Presentation/obj/Wallet.Presentation.csproj.nuget.g.targets
/Wallet.Service/obj/Debug/net9.0/Wallet.Service.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Service/obj/project.assets.json
/Wallet.Service/obj/project.nuget.cache
/Wallet.Service/obj/Wallet.Service.csproj.nuget.dgspec.json
/Wallet.Service/obj/Wallet.Service.csproj.nuget.g.props
/Wallet.Shared.Contract/obj/Debug/net9.0/Wallet.Shared.Contract.GeneratedMSBuildEditorConfig.editorconfig
/Wallet.Shared.Contract/obj/project.assets.json
/Wallet.Shared.Contract/obj/project.nuget.cache
/Wallet.Shared.Contract/obj/Wallet.Shared.Contract.csproj.nuget.dgspec.json
/Wallet.Shared.Contract/obj/Wallet.Shared.Contract.csproj.nuget.g.props
