<div class="ui three column grid w-100 justify-content-center align-items-center">

    <!-- دکمه اول: Transaction -->
    <div id="transactionCardbtn" class="column clickable w-25 mx-3">
        <div class="ui fluid card">
            <div class="image">
                <img src="~/images/homeindexcards/transactionpng.png" />
            </div>
            <div class="content">
                <a class="header text-center">
                    Transaction
                </a>
            </div>
        </div>
    </div>

    <!-- دکمه دوم: TransactionType -->
    <div id="transTypeCardbtn" class="column clickable w-25 mx-3">
        <div class="ui fluid card">
            <div class="image">
                <img src="~/images/homeindexcards/ttypepng.png" />
            </div>
            <div class="content">
                <a class="header text-center">
                    TransactionType
                </a>
            </div>
        </div>
    </div>

    <!-- دکمه سوم: Wallet -->
    <div id="WalletCardbtn" class="column clickable w-25 mx-3">
        <div class="ui fluid card">
            <div class="image">
                <img src="~/images/homeindexcards/walletpng.png" />
            </div>
            <div class="content">
                <a class="header w-100 text-center">
                    Wallet
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("transactionCardbtn")?.addEventListener("click", () => {
        window.location.href = "/Transaction/Index";
    });

    document.getElementById("transTypeCardbtn")?.addEventListener("click", () => {
        window.location.href = "/TransactionType/Index";
    });

    document.getElementById("WalletCardbtn")?.addEventListener("click", () => {
        window.location.href = "/Wallet/Index";
    });
</script>