<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Wallet</title>
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/semantic-ui-css-master/semantic.css" rel="stylesheet" />
    <link href="~/semantic-ui-css-master/semantic.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/fontawsome/all.min.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/jalalimoment.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
        <div class="container-fluid">
            <!-- Sidebar Toggle Button -->
            <button class="btn btn-outline-light me-3" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex w-100 align-items-center">
                    <!-- Logo and Group Name -->
                    <div class="col-lg-2 col-12 d-flex flex-column align-items-center">
                        <a href="/home">
                            <img src="~/images/638603587951898946rhnelogowhite.png" alt="Logo" class="ui tiny image">
                            <span class="text-white">گروه نرم افزاری راین</span>
                        </a>
                    </div>

                    <!-- Time and Date -->
                    <div class="col-lg-5 col-12 d-flex justify-content-around my-2">
                        <div class="d-flex flex-row justify-content-center align-items-center w-50">
                            <p class="w-100 text-white my-0 mx-1 text-left h5">ساعت</p>
                            <p class="w-100 text-white my-0 mx-1 text-center h5" id="clock"></p>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center w-50">
                            <p class="w-100 text-white my-0 mx-1 text-center h5">تارخ</p>
                            <p class="w-100 text-white my-0 mx-1 text-right h5" id="date"></p>
                        </div>
                    </div>

                    <!-- Exit Button (Desktop) -->
                    <div class="col-lg-4 d-none d-lg-flex justify-content-end">
                        <a href="~/Account/index" class="btn btn-outline-light">
                            خروج <i class="fas fa-sign-out-alt rotated-icon"></i>
                        </a>
                    </div>

                    <!-- Exit Button (Mobile) -->
                    <div class="col-6 d-lg-none d-flex justify-content-center mt-2">
                        <a href="~/Account/index" class="btn btn-outline-light w-100">
                            خروج <i class="fas fa-sign-out-alt rotated-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <div class="ui right demo vertical inverted sidebar labeled icon menu" id="sidebar">
        <a class="item" href="/Home">
            <i class="home icon"></i>
            MessageResource.HomeMenu
        </a>

        <a class="item">
            <i class="block layout icon"></i>
            MessageResource.TopicsMenu
        </a>

        <a class="item">
            <i class="smile icon"></i>
            MessageResource.FriendsMenu
        </a>
    </div>

    <div class="container-fluid mx-auto p-5">
        @RenderBody()
    </div>

    <div class="modal fade" id="my_xl_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel"></h1>
                    <button type="button" id="xl_modal_dismiss" class="btn-close bg-danger" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="my_lg_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel"></h1>
                    <button type="button" id="lg_modal_dismiss" class="btn-close bg-danger d-flex" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="my_md_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel"></h1>
                    <button type="button" id="md_modal_dismiss" class="btn-close bg-danger" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="my_sm_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel"></h1>
                    <button type="button" id="sm_modal_dismiss" class="btn-close bg-danger" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#sidebarToggle').click(function () {
            $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');

        });


    </script>
    <script>
        function updateClock() {
            const now = moment();
            const timeString = now.format('ss : mm : HH');
            const persianDateString = now.format('jYYYY/jMM/jDD');

            document.getElementById('clock').innerText = timeString;
            document.getElementById('date').innerText = persianDateString;
        }

        setInterval(updateClock, 1000);
        updateClock();
    </script>

    <script src="~/js/popper.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/semantic-ui-css-master/semantic.js"></script>
    <script src="~/semantic-ui-css-master/semantic.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/fontawsome/all.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/jalalimoment.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<!-- اسکریپت یکپارچه برای مدیریت مودال‌ها -->
<!-- اسکریپت فورس بستن مودال -->
<script>
    function updateClock() {
        const now = moment();
        const timeString = now.format('ss : mm : HH');
        const persianDateString = now.format('jYYYY/jMM/jDD');

        document.getElementById('clock').innerText = timeString;
        document.getElementById('date').innerText = persianDateString;
    }

    setInterval(updateClock, 1000);
    updateClock();
</script>
